.App {
  /* text-align: center; */
}

html, body {
  height: 100%;
  background: #FAF7F5;
  font-size: 20px;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: darkseagreen;
  font-size: 40px;
}

.btn-container {
  padding: 20px 0;
}

/* Alerts */
.alert a {
  text-decoration: underline;
}
.alert-success a {
  color: #3c763d;
}